    body {
        font-family: "raleway";
        background: rgb(245, 248, 255);

    }

    /* shared styles */
    .btn {
        padding: 12px 36px 12px 36px;
        border-radius: 10px;
        border: 2px solid rgb(78, 71, 255);

        background: rgb(78, 71, 255);
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
    }
    .btn:hover{
        background:linear-gradient(lightseagreen , lightgreen);
        color: blueviolet;
        border: 2px solid lightseagreen;
    }


    /* header section */
    .header {
        /* max-width: 1140px; */
        margin: 00 auto;
        background-image: url(./Assets/Hero-bg.png);
        padding-bottom: 200px;
    }

    .nav {
        display: flex;
        justify-content: space-around;
        padding: 50px 150px;
        align-items: center;
    }

    .nav h1 {
        color: rgb(78, 71, 255);
        font-family: Inter;
        font-size: 34px;
        font-weight: 900;
        text-align: left;
    }

    .banner {
        /* padding: 152px 209px; */
        text-align: center;
    }

    .banner h1 {
        color: rgb(37, 36, 50);
        font-family: Raleway;
        font-size: 65px;
        font-weight: 700;
    }

    /* Action section start here  */


    .action-section {
        max-width: 1140px;
        margin: 120px auto;

    }

    .action-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .action-content h2 {
        color: rgb(37, 36, 50);
        font-family: Raleway;
        font-size: 42px;
        font-weight: 700;
        text-align: left;
    }

    .action-content p {
        margin: 23px 00px;
        color: rgba(37, 36, 50, 0.5);
        font-family: Raleway;
        font-size: 24px;
        font-weight: 400;
        text-align: left;
    }

    .action-img img {
        border-radius: 48px;
    }

    /* productive section start here  */

    .productive-user-section {
        max-width: 1140px;
        margin: 00 auto;
        border-radius: 24px;
        background: rgba(78, 71, 255, 0.1);
    }

    .productive-user-container {
        padding: 50px 80px;
        text-align: center;
    }

    .productive-user-container h1 {
        color: rgb(37, 36, 50);
        font-size: 38px;
        font-weight: 700;
        text-align: center;
    }

    .productive-user-content {
        display: flex;
        justify-content: space-evenly;
    }

    .productive-user-content h1 {
        color: rgb(78, 71, 255);
        font-family: Inter;
        font-size: 80px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 00px;
    }

    .productive-user-content p {
        margin-top: 00;
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        text-transform: capitalize;
    }

    /* user-feedback-section starts here  */
    .user-feedback-section {
        max-width: 1140px;
        margin: 120px auto;
    }

    .user-feedback-container {
        text-align: center;
    }

    .user-feedback-container h1 {
        margin-bottom: 50px;
        color: rgb(37, 36, 50);
        font-family: Raleway;
        font-size: 42px;
        font-weight: 700;
        text-align: center;
    }

    .user-feedback-content {
        display: flex;
        justify-content: space-between;

    }

    .user-feedback-content-items {
        width: 360px;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        box-sizing: border-box;
        border: 1px solid rgb(242, 237, 237);
        border-radius: 14px;

        background: rgba(255, 255, 255, 0.5);
     
    }

    .user-feedback-content-items h4 {
        margin-bottom: 00px;
        color: rgb(30, 30, 30);
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        text-transform: capitalize;
    }

    .user-feedback-content-items p {
        color: rgb(30, 30, 30);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
    }
    .staricon{
        margin-bottom: 00px;
    }

    .reviewer {
        display: flex;

    }
    .reviewer img{
        border-radius: 50%;
        margin-right: 4px;
    }

    .reviewer h4 {
        color: rgb(117, 117, 117);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
    }

    .reviewer p {
        color: rgb(117, 117, 117);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
    }